#title-rate {
    color: white;
    margin: 10px 20px 20px 30%;
}

body {
    margin: 0;
    background-color: black;
}

section {
    text-align: center;
}

figure {
    margin: 0;
}

h2 {
    position: absolute;
    color: black;
    font-size: 5em;
    font-family: sans-serif;
    /*   bottom: 0; */
    /*   right: 40%; */
}

section>figure {
    position: absolute;
    height: 300px;
    display: flex;
    width: 100vw;
    justify-content: center;
}

section>figure>img {
    height: inherit;
}

section>figure {
    opacity: 0;
    transition: opacity 0.5s;
}

input {
    width: 10vw;
}

#test{
    height:30px;
    
}

#go-back{
    
    bottom: 100%;
    right: 0;
}

#form-control{
  width: 100%;
  height: 150px;  
}

.timemachine {
    width: 50%;
    
}

.form{
    display:flex;
    justify-content: center;
    width:100vw;
    margin: 40px 0px;
}

input[type=range]{
    width:50vw;
}

/*.back-button{*/
    
/*}*/

/*body{*/
/*     background:url("https://vfs-gce-usw-393-2.c9.io/vfs/6000823/9cIeyAOyEGcdlW5H/workspace/Loading/blackhole.gif") no-repeat center center fixed;*/
/*     background-size:cover;*/
/*}*/

#temp {
    margin-top: 350px;
    margin-right: 250px;
}

.endYear {
    position: absolute;
    right: 0;
    color: white;
    top: 0;
}

.yearLabel {
    width: 53vw;
    color: white;
    position: relative;
    margin: 0 auto;
    font-size: 20px;
}

#slide {
    text-align: center;
    color: white;
    
}