#timebuttons{
 text-align: center;
}
#pastbutton{
    position:absolute;
    left:20%;
    top:200px;
}
#nowbutton{
    position:absolute;
    left:40%;
    top:200px;
}
#futerbutton{
       position:absolute;
    left:60%;
    top:200px;
}
.texttime{
    position:absolute;
    top:260px;
}
.textsea{
    position:absolute;
    top:300px;
}
.textrate{
    position:absolute;
    top:300px;
    left:70%;
}
#years{
    text-align: center;
}